.sd-nav {
    height: 1000px;
    width: 25%;
    background-color: lightblue;
    position: absolute;
    box-shadow: 5px 0.5px 5px 0.5px lightgray;
}

.sd-nav-cont {
    margin-top: 200px;
    margin-left: 0px;
}
span{
    color: white;
}

a{
    margin-left: 0px;
    margin-top:5px;
    height: 40px;
    width: 25vw;
    background-color: black;
    color: white;
}