* {
    margin: 0;
    padding: 0;
    
}
body {
  overflow: scroll;
  
}

.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
    /* overflow: scroll; */
    

}
.navbar {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 90px;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */  
    background: linear-gradient(to left, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sidebar {
    background-color:#F4F4F7;
    height: 100vh;
    box-shadow: 0px 10px 20px lightgrey;
}

.sidebar button:nth-child(even){
    margin-top: 10px;
}
.big-btn  {
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-top: 10px;
    position: relative;
    background-color: #FF512F;
    border: none;
    outline: none;
    border: 1px solid #FF512F;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    color: whitesmoke;
    cursor: pointer;
    

}
.big-btn:hover {
    
}

.nav-btn {
    width: 80%;
    height: 35px;
    position: relative;
    margin-left: 10%;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #5B6369;

}
.nav-btn:hover {
    background-color: #F3E4DD;
    cursor: pointer;
}
.nav-btn:before {
    content: "";
    height: 35px;
    width: 3px;
    background-color: coral;
    position: absolute;
    top:0;
    left:0;
    
    z-index: 1;
    
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    margin-top: 1.3%;
}
.search-bar input {
    /* width: 400px;
    height: 60px; */
    grid-column-start: 2;
    grid-column-end: 3;
    height: 48px;
    /* margin-top: 5%; */
    border: none;
    outline: none;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    padding-left: 10px;

    
}
.search-bar button {
   grid-column-start: 3;
   grid-column-end: 5;
   width: 90px;
   height: 48px;
   position: relative;
   /* margin-top: 3.5%; */
   border: none;
   outline: none;
   background-color: #EFACB5;
   font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.search-bar button:hover {
    background-color: rgb(248, 201, 207);
}

.content {
    background-color: #EEEFF3;
    display: grid;
    height: 100%;
   
}

.content .res {
    background-color: whitesmoke;
    height: 300px;
    width: 100% - 20px;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 10px 10px 20px lightgrey;
    position: relative;
    
    

}
.res-con{
    margin-left: 10px;
    margin-top: 10px;
}



.inbox button{
    margin-top: 15px;
    margin-left: 5%;
    height: 100px;
    width:90%;
    background-color: #FFFFFF;
    border-radius: 4px;
    border-bottom: 1px solid #E7E8EB;
    box-shadow: 10px 10px 20px #E7E8EB;
   
    
}



.info {
    display: grid;
    grid-template-columns: 1fr 10fr;


}
.inbox .image{
    background-color: #FDBF5F;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 100%;
}

.inbox .image h1 {
    margin-top: 20%;
    font-size: 30px;
    color: white;

}

.info .basic-info {
    grid-column-start: 2;
    grid-column-end: 10;
    position: relative;
    height: 100px;

}
.info .basic-info .name  {
   float: left;
   position: absolute;
   margin-top: 20px;
   margin-left: 10px;
   font-size: 20px;
   font-family: "Roboto" , sans-serif;
   font-weight: bold;
   color: #5A6A7A;

}
.info .basic-info .details {
    float: left;
    position: absolute;
    margin-top: 2.6%;
    margin-left: 10px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: #B3BCC2;

}

.info .basic-info .location {
    float: left;
    position: absolute;
    margin-left: 10px;
    margin-top: 4.3%;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #7D8CA0;

    
}
.info .basic-info .time {
    margin-left: 90%;
    position: absolute;
    margin-right: 20px;
    color: #37B699;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
  
}

.full-details .mini-nav {
    /* grid-column-start: 3;
    grid-column-end: 6;  */
   
    width: 100%;
    position: relative;
    background-color: #4A5E72;
    height: 80px;
}
.full-details .mini-nav .btn-lft {
    height: 80px;
    width: 100px;
    border: none;
    outline: none;
    background-color: #4A5E72;
   
    border-right: 1px solid #536C80;

}
.full-details .mini-nav span {
    margin-top: 25px;
    margin-left: 10px;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: white;
}

.full-details .mini-nav .btn-rt {
    float: right;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    outline: none;
    border: none;
}

.full-details .mini-nav .btn-rt:active {
    background-color: lightgreen;
}

.full-details .mini-nav .back {
    height: 50px;
    width: 50px;
    color: white;
}

.full-details {
    grid-column-start: 1;
    grid-column-end: 6;
    height: 100%;
    width: 90%;
    background-color: #EEEFF3;
    margin-left: 5%;
   
}

.child-info {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    background-color:#ffffff;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
}

.child-info .heading {
    height: 100%;
    background-color: #F6F7F9;
    /* box-shadow: 0px 1px 2px lightgray; */
    grid-column-start: 1;
    grid-column-end: 5;
   
}

.heading p{
    color: #4A5C6D;
    position: relative;
    margin-top: 5%;
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    
}
.child-info .key {
    
    position: relative;
}

.child-info .key .key-p {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    color: #B5BEC9;;
}
.child-info .value {
    
    position: relative;

}

.child-info .value .value-p {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    color: #8694A6;

}